In [22]:
import sqlite3
import pandas as pd
import warnings

warnings.filterwarnings("ignore")
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [4]:
db_path = "./db.sqlite3"

connection = sqlite3.connect(db_path)

In [11]:
database_data = pd.read_sql_query(
    """
        SELECT * 
        FROM sqlite_master;
    """,
    connection
)

In [12]:
database_data

,type,name,tbl_name,rootpage,sql
0,table,django_migrations,django_migrations,2,"CREATE TABLE ""django_migrations"" (""id"" integer..."
1,table,sqlite_sequence,sqlite_sequence,3,"CREATE TABLE sqlite_sequence(name,seq)"
2,table,auth_group_permissions,auth_group_permissions,9,"CREATE TABLE ""auth_group_permissions"" (""id"" in..."
3,table,auth_user_groups,auth_user_groups,12,"CREATE TABLE ""auth_user_groups"" (""id"" integer ..."
4,table,auth_user_user_permissions,auth_user_user_permissions,13,"CREATE TABLE ""auth_user_user_permissions"" (""id..."
5,index,auth_group_permissions_group_id_permission_id_...,auth_group_permissions,16,"CREATE UNIQUE INDEX ""auth_group_permissions_gr..."
6,index,auth_group_permissions_group_id_b120cbf9,auth_group_permissions,17,"CREATE INDEX ""auth_group_permissions_group_id_..."
7,index,auth_group_permissions_permission_id_84c5c92e,auth_group_permissions,18,"CREATE INDEX ""auth_group_permissions_permissio..."
8,index,auth_user_groups_user_id_group_id_94350c0c_uniq,auth_user_groups,19,"CREATE UNIQUE INDEX ""auth_user_groups_user_id_..."
9,index,auth_user_groups_user_id_6a12ed8b,auth_user_groups,20,"CREATE INDEX ""auth_user_groups_user_id_6a12ed8..."
10,index,auth_user_groups_group_id_97559544,auth_user_groups,22,"CREATE INDEX ""auth_user_groups_group_id_975595..."
11,index,auth_user_user_permissions_user_id_permission_...,auth_user_user_permissions,24,"CREATE UNIQUE INDEX ""auth_user_user_permission..."
12,index,auth_user_user_permissions_user_id_a95ead1b,auth_user_user_permissions,25,"CREATE INDEX ""auth_user_user_permissions_user_..."
13,index,auth_user_user_permissions_permission_id_1fbb5f2c,auth_user_user_permissions,26,"CREATE INDEX ""auth_user_user_permissions_permi..."
14,table,django_admin_log,django_admin_log,30,"CREATE TABLE ""django_admin_log"" (""id"" integer ..."
15,index,django_admin_log_content_type_id_c4bce8eb,django_admin_log,27,"CREATE INDEX ""django_admin_log_content_type_id..."
16,index,django_admin_log_user_id_c564eba6,django_admin_log,28,"CREATE INDEX ""django_admin_log_user_id_c564eba..."
17,table,django_content_type,django_content_type,29,"CREATE TABLE ""django_content_type"" (""id"" integ..."
18,index,django_content_type_app_label_model_76bd3d3b_uniq,django_content_type,4,"CREATE UNIQUE INDEX ""django_content_type_app_l..."
19,table,auth_permission,auth_permission,5,"CREATE TABLE ""auth_permission"" (""id"" integer N..."
20,index,auth_permission_content_type_id_codename_01ab3...,auth_permission,6,"CREATE UNIQUE INDEX ""auth_permission_content_t..."
21,index,auth_permission_content_type_id_2f476e4b,auth_permission,14,"CREATE INDEX ""auth_permission_content_type_id_..."
22,table,auth_group,auth_group,15,"CREATE TABLE ""auth_group"" (""id"" integer NOT NU..."
23,index,sqlite_autoindex_auth_group_1,auth_group,31,None
24,table,auth_user,auth_user,7,"CREATE TABLE ""auth_user"" (""id"" integer NOT NUL..."
25,index,sqlite_autoindex_auth_user_1,auth_user,8,None
26,table,django_session,django_session,10,"CREATE TABLE ""django_session"" (""session_key"" v..."
27,index,sqlite_autoindex_django_session_1,django_session,11,None
28,index,django_session_expire_date_a5c62663,django_session,32,"CREATE INDEX ""django_session_expire_date_a5c62..."
29,table,tasks_task,tasks_task,33,"CREATE TABLE ""tasks_task"" (""id"" integer NOT NU..."

In [18]:
table_names = database_data[database_data["type"] == "table"]["name"]
table_names

0              django_migrations
1                sqlite_sequence
2         auth_group_permissions
3               auth_user_groups
4     auth_user_user_permissions
14              django_admin_log
17           django_content_type
19               auth_permission
22                    auth_group
24                     auth_user
26                django_session
29                    tasks_task
Name: name, dtype: object

In [19]:
tables_dict = dict()

for table_name in table_names:
    table = pd.read_sql(
        f"SELECT * FROM {table_name}", connection
    )
    tables_dict[table_name] = table

In [20]:
tables_dict.keys()

dict_keys(['django_migrations', 'sqlite_sequence', 'auth_group_permissions', 'auth_user_groups', 'auth_user_user_permissions', 'django_admin_log', 'django_content_type', 'auth_permission', 'auth_group', 'auth_user', 'django_session', 'tasks_task'])

In [26]:
tables_dict["auth_user"]

,id,password,last_login,is_superuser,username,last_name,email,is_staff,is_active,date_joined,first_name
0,1,pbkdf2_sha256$1000000$HnkHP2JylApeqDAst54CBK$v...,2025-06-09 02:13:11.795447,1,vijvalvemula,,vemulavijval1@gmail.com,1,1,2025-06-09 02:12:39.225032,